body{
    font-family: 'Poppins', sans-serif;
    
}
.flex-container{
    display:flex
}
.top-bennar{
    background-image: url(bg-1st.png);
    background-repeat: no-repeat;
    margin: 0%;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.width-half{
    width: 50%;
    padding: 5%;
}
.width-half img{
    width: 100%;
}
.font-size{
    font-size: 30px;
    line-height: 20px;
}
.color{
    color: rgb(121, 2, 52);
}
.semi{
    color: rgb(92, 52, 201);
}
.bottom{
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 10px;
    background-image: linear-gradient( rgb(16, 134, 252), blue);
    color: whitesmoke;
    font-weight: 700;
}
.next-part-bennar{
    background-image: url(bg-2nd.png);
    background-repeat: no-repeat;
    margin: 0%;
    background-size: cover;
}
.ano-width{
    width: 50%;
    padding: 5%;
}
.ano-width img{
    width: 60%;
}
.ano-bottom{
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 10px;
    background-image: linear-gradient( rgb(16, 134, 252), blue);
    color: whitesmoke;
    font-weight: 700;
}
