body{
    font-family: 'Poppins', sans-serif;
    
}
section{
    display:flex
}
.top-bennar{
    background-image: url(whit.jfif);
    background-repeat: no-repeat;
    margin: 0%;
    background-size: cover;
}
.width-half{
    width: 50%;
    padding: 5%;
}
.width-half img{
    width: 60%;
}
.font-size{
    font-size: 20px;
}
.color{
    color: rgb(121, 2, 52);
}
.semi{
    color: rgb(92, 52, 201);
}
.bottom{
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 10px;
    background-image: linear-gradient( rgb(16, 134, 252), blue);
    color: whitesmoke;
    font-weight: 700;
}
